body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

header{
background:#005bbb;
color:white;
text-align:center;
padding:20px;
}

.header-image{
width:100%;
max-height:250px;
object-fit:cover;
margin-bottom:10px;
}

nav{
background:#333;
text-align:center;
padding:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-size:18px;
}

nav a:hover{
color:#ffd500;
}

.hero{
background:white;
text-align:center;
padding:40px;
}

.news{
padding:30px;
}

.news-item{
display:flex;
gap:15px;
background:white;
padding:15px;
margin-bottom:15px;
border-left:5px solid #005bbb;
align-items:center;
}

.news-img{
width:120px;
height:80px;
object-fit:cover;
}

.gallery{
padding:30px;
background:white;
}

.gallery-scroll{
display:flex;
overflow-x:auto;
gap:10px;
padding:10px;
}

.gallery-scroll img{
height:150px;
border-radius:5px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
.about{
background:white;
padding:30px;
margin:20px;
}

.about ul{
padding-left:20px;
}
